@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Odibee+Sans&family=Sarpanch&display=swap');

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playerCam {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  perspective: calc(var(--perspective) * 1px);
  perspective-origin: calc(var(--perspectiveX) * 1px) calc(var(--perspectiveY) * 1px);
}

.wall {
  z-index: calc(var(--z));
  position: absolute;
  width: calc(var(--w) * 1px);
  height: calc(var(--h) * 1px);
  left: calc(var(--x) * 1px);
  top: calc(var(--y) * 1px);
  /* border: 20px solid white; */
  transform-origin: 50% 50%;
  transform: translateZ(calc(var(--z) * 1px)) rotate3d(var(--axisx), var(--axisy) , var(--axisz), calc(var(--deg) * 1deg)) rotate3d(0, 0, 1, calc(var(--deg2) * 1deg));
  transition: background-color .5s, border .5s, opacity .3s, filter 1s;
  opacity: 1;
  filter: grayscale(calc(1 - var(--opacity))) ;
  /* background: linear-gradient(
    calc(var(--deg2) * 1deg), 
    var(--color) 0%,
    var(--color) calc(var(--fadestart) * 1px), 
    rgba(0, 0, 0, 0) 100%
  ); */  
  background-color: var(--color);
  background: var(--color);
  image-rendering: optimizeSpeed;
}  

/*.front {
  background-image: url(./brick.jpg);
  background-size: cover;
}

.back {
  background-image: url(./brick.jpg);
  background-size: cover;
}

.left {
  background-image: url(./brick.jpg);
  background-size: cover;
}

.right {
  background-image: url(./brick.jpg);
  background-size: cover;
} */

.floor {
  /* background-image: url(./brick.jpg);
  background-size: cover; */
  filter: grayscale(max( (1 - var(--opacity)) ,.3));
}

.ceiling {
  /* background-image: url(./brick.jpg);
  background-size: cover; 
  filter: grayscale(max( (1 - var(--opacity)) ,.3)); */
} 

.invi {
  display: none;
}
